@page "/account/forget-password"
@inject IAccountClientService _accountClient
@inject NavigationManager _navigationManager

<PageTitle>Forgot your password?</PageTitle>

<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="RequestModel" FormName="forgot-password" OnValidSubmit="SendPasswordResetAsync" method="post">
            <FluentValidationValidator />
            <DisplayErrorMessage Message="@ErrorMessage" MessageChanged="@((msg) => ErrorMessage = msg)" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="RequestModel.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="email" class="form-label">Email</label>
                <ValidationMessage For="() => RequestModel.Email" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset password</button>
        </EditForm>
    </div>
</div>

@code {
    private ResetPasswordRequestModel RequestModel = new();
    private ResponseContent ResetResponse = new();

    private string ErrorMessage = string.Empty;

    private async Task SendPasswordResetAsync()
    {
        ResetResponse = await _accountClient.ResetPasswordAsync(RequestModel);

        if (ResetResponse.ErrorResponse is not null)
        {
            ErrorMessage = ResetResponse.ErrorResponse.Message;
            return;
        }
    }
}