@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager

<div class="col-md-3">
    <select class="form-control" @bind="Culture">
        @foreach (var language in supportedLanguages)
        {
            <option value="@language">@language.DisplayName</option>
        }
    </select>
</div>

@code
{
    CultureInfo[] supportedLanguages = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("bg-BG"),
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("appCulture.set", value.Name);
                _navigationManager.NavigateTo(_navigationManager.Uri, forceLoad: true);
            }
        }
    }
}
